.cards-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  padding: 12px;
}
@media(min-width: 900px){
  .cards-grid{ grid-template-columns: repeat(3, 1fr); }
}
.cards-grid > * img{
  aspect-ratio: 1/1;
  object-fit: cover;
}